# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Local environment files
.env

# Google service account files
aaksai-c62237f8e4eb.json


# Distribution and build files
dist/
dist-electron/
release/
build-electron/
*.exe
*.dmg
*.zip
*.app
*.blockmap
out/
bin/

# Logs
*.log

# Editor and IDE config directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Secrets directory (from SETUP.md & env example)
secrets/

# Other local credential files
*credential*.json
*service-account*.json
